body {
  font-family: "Dongle", sans-serif;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background: #cfcfcf;
}

::-webkit-scrollbar-thumb {
  background: #a5a5a5;
}
